@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.login {
    text-align: center;
    background-image: url('/assets/img/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    right: 0;
    text-align: center;
    top: 0;
    width: 100vw;
    height: 100vh;

    @include media-breakpoint-up(md) {
        height: 67rem;
    }

    @include media-breakpoint-up(xl) {
        height: 33rem;
    }

    .form {
        margin-left: 3rem;

        @include media-breakpoint-up(md) {
            margin-left: 0rem;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 0rem;
        }

        .form-area {
            display: grid;
            grid-auto-columns: 25rem;


            @include media-breakpoint-up(md) {
                display: grid;
                grid-auto-columns: 41rem;
            }

            @include media-breakpoint-up(xl) {
                display: grid;
                grid-auto-columns: 41rem;
            }
        }
    }
}