@import "/src/app/scss/variables.scss";

.title {
    font-size: 30px;
    margin-top: 9px;
    font-style: italic;
    font-weight: 500px;
    color: $black;
    margin-bottom: inherit;
}

.card {
    transition: all 0.3s;
    color: initial;
    height: 100%;
    border-radius: 10px;

    img {
        border-radius: 10px 10px 0px 0px;;
    }
    
    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 3px 3px $primary-border-color;
    }
}