<app-nav-bar></app-nav-bar>
<div class="birds">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <div class="title">Aves</div>
      </div>

      <div class="col-md-1">
        <div class="image">
          <img src="assets/img/logo3.png" style="width: 70px" />
        </div>
      </div>
    </div>

    <div class="search-container">
      <form>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar"
            (input)="search($event)"
          />
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let bird of birds">
        <div class="card">
          <a
            class="nav-item nav-link"
            [routerLink]="['../cadastrar/', bird.namePtbr]"
          >
            <div class="image-card">
              <img [src]="bird.picByte" *ngIf="bird.imageId" />
            </div>
          </a>

          <div class="bird-namePtbr">
            {{ bird.namePtbr }}
          </div>

          <div class="bird-fields">
            <div class="field">
              <b>Nome em inglês:</b>
              <div class="bird-field">{{ bird.nameEnglish }}</div>
            </div>

            <div class="field">
              <b>Nome em latim:</b>
              <div class="bird-field">{{ bird.nameLatin }}</div>
            </div>

            <div *ngIf="showFullContent">
              <div class="field">
                <b>Tamanho:</b>
                <div class="bird-field">{{ bird.size }}</div>
              </div>

              <div class="field">
                <b>Gênero:</b>
                <div class="bird-field">{{ bird.genre }}</div>
              </div>

              <div class="field">
                <b>Cor predominante:</b>
                <div class="bird-field">{{ bird.color }}</div>
              </div>

              <div class="field">
                <b>Família:</b>
                <div class="bird-field">{{ bird.family }}</div>
              </div>

              <div class="field">
                <b>Habitat:</b>
                <div class="bird-field">{{ bird.habitat }}</div>
              </div>
            </div>

            <div class="btn">
              <button (click)="showMore()">
                {{ showFullContent ? "Leia Menos" : "Leia Mais" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
